<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chroma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chroma.Properties.Settings>
            <setting name="Portal" serializeAs="String">
                <value>Animations/PortalSpace_Keyboard.chroma</value>
            </setting>
            <setting name="Lifestone" serializeAs="String">
                <value>Animations/OutParticle1_Keyboard.chroma</value>
            </setting>
            <setting name="Keybinds" serializeAs="String">
                <value>Animations/AC_Default_Keybinds.chroma</value>
            </setting>
            <setting name="Death" serializeAs="String">
                <value>Animations/ParticlesOut_Keyboard.chroma</value>
            </setting>
            <setting name="Spellcast" serializeAs="String">
                <value>Animations/Llama1_Keyboard.chroma</value>
            </setting>
            <setting name="Jump" serializeAs="String">
                <value>Animations/CircleLarge_Keyboard.chroma</value>
            </setting>
            <setting name="Emote" serializeAs="String">
                <value>Animations/OutParticle1_Keyboard.chroma</value>
            </setting>
            <setting name="RaiseSkill" serializeAs="String">
                <value>Animations/Fork1_Keyboard.chroma</value>
            </setting>
            <setting name="TestAnim" serializeAs="String">
                <value>Animations/Bolt4_Keyboard.chroma</value>
            </setting>
            <setting name="LevelUp" serializeAs="String">
                <value>Animations/LevelUp_Keyboard.chroma</value>
            </setting>
            <setting name="HealSelf" serializeAs="String">
                <value>Animations/HealSelf_Keyboard.chroma</value>
            </setting>
            <setting name="Yellow_To_Blue" serializeAs="String">
                <value>Animations/SwapHealth_Yellow_To_Blue_Keyboard.chroma</value>
            </setting>
            <setting name="Yellow_To_Red" serializeAs="String">
                <value>Animations/SwapHealth_Yellow_To_Red_Keyboard.chroma</value>
            </setting>
            <setting name="MaxLevel" serializeAs="String">
                <value>Animations/WeddingBliss_Keyboard.chroma</value>
            </setting>
            <setting name="HealthUpYellow" serializeAs="String">
                <value>Animations/HealthUpYellow_Keyboard.chroma</value>
            </setting>
            <setting name="AethLevelUp" serializeAs="String">
                <value>Animations/AetheriaLevelUp_Keyboard</value>
            </setting>
        </Chroma.Properties.Settings>
    </userSettings>
</configuration>